<header class="fixed top-0 left-0 right-0 bg-white py-4 z-50 shadow shadow-gray-100">
    <div class="container mx-auto max-w-6xl px-4">
        <div class="flex items-center justify-between">
            <h1 class="font-bold">
                <a href="{{ .Site.BaseURL }}" class="text-[#387ed1] text-2xl leading-1.5 font-bold tracking-tight">
                    Kacha
                </a>
            </h1>
            <nav class="hidden space-x-4 md:space-x-10 md:block">
                {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}" class="link">
                        {{ .Name }}
                    </a>
                {{ end }}
            </nav>
        </div>
    </div>
</header>
